Checks: [
    clang-analyzer-*,
    bugprone-*,
    -bugprone-easily-swappable-parameters, # false positives for x/y parameters
    performance-*,
    portability-*,
    misc-*,
    cppcoreguidelines-init-variables,
  ]
