Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  misc-*,
  -misc-unused-parameters,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*
