ColumnLimit: 80
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: AlignWithSpaces
AlignArrayOfStructures: Left
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -8
IndentCaseBlocks: false
IndentCaseLabels: false
AlignAfterOpenBracket: DontAlign
RemoveBracesLLVM: true
IncludeBlocks: Regroup
IncludeIsMainRegex: "a{999}" # no main includes
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: "^<(std|math)"
    Priority: 0
  - Regex: "^<S_"
    Priority: 20
  - Regex: ".*"
    Priority: 100
